@import "/pages/styles/abstracts/variables";

.button {
  font: inherit;
  border: 1px solid $color-primary;
  background: $color-primary;
  color: $color-white;
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: inline-block;
  border-radius: 10rem;
  transition: transform .2s;

  &:hover, &:active {
    background: $color-primary-grey-light;
    border-color: $color-primary-grey-light;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }

  &:focus {
    outline: none;
  }
}




