.mr-sm {
 margin-right: 1rem
}

.mr-md {
 margin-right: 2rem
}

.mr-lg {
 margin-right: 3rem
}

.mr-hg {
 margin-right: 6rem
}

.mb-sm {
 margin-bottom: 1rem
}

.mb-md {
 margin-bottom: 2rem
}

.mb-lg {
 margin-bottom: 4rem
}

.mb-hg {
 margin-bottom: 6rem
}

.mt-sm {
 margin-top: 1rem
}

.mt-md {
 margin-top: 2rem
}

.mt-lg {
 margin-top: 3rem
}

.mt-hg {
 margin-top: 6rem
}

