$color-primary: #333333;

$color-primary-grey-light: #f5f3f3;
$color-secondary-grey-light: #efefef;

$color-grey: #636363;
$color-black: #000;
$color-white: #fff;

$color-invalid: #be6e6e;

$color-blood-red: #8a0303;
$color-blood-red-dark: #290101;
$color-blood-red-light: #ad4f4f;