

.two-side-by-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bp-history {
  border-top: 2px solid $color-blood-red;
  padding-top: 2rem;
}

.center-on-page {
  margin: 0 auto;
  width: 80%;
  font-size: 1.3rem;
}