@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;700&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}


body {
  font-family: 'Albert Sans', sans-serif;
  background-color: var(--color-primary-high-tint);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: .75em 0
}

h3 {
  font-size: 1.17em;
  margin: .83em 0
}

h4 {
  margin: 1.12em 0
}

h5 {
  font-size: .83em;
  margin: 1.5em 0
}

h6 {
  font-size: .75em;
  margin: 1.67em 0
}

ol, ul {
  margin-left: 2rem;
}

.main-content {
  padding: 0 5rem;
}