@import "/pages/styles/abstracts/variables";

.card {

  padding-bottom: 1.5rem;
  border: 1px solid $color-primary;
  border-radius: .5rem;

  &__header {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid $color-primary;
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: bold;
  }

  &__footer {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}