@import "/pages/styles/abstracts/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__icon {
    fill: $color-primary;
    height: 3.2rem;
    width: 3.2rem;
  }
}
